h2{
    text-align: center;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em auto;
    background-color: lightslategray;
}
/*These style my nav and make it look nice*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.titles {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.others{
    float: right;
}
table{
    margin-top: 30px;
    width: 80%;
    object-position: center;
}
td{
    text-align: center;
    border-bottom: 1px solid black;
}
/*The pics specify how big and what should be shown*/
.main_pic{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.less_pic{
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}
.pics{
    height: 150px;
    position: relative;
    overflow: hidden;
}
table.tables{
  margin-left: auto;
  margin-right: auto;
}
/*These just stylize my form*/
.reviewForm{
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    width: 70%;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
    border: 2px solid #ccc;
}
form{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
label {
    width: 10em;
    padding-right: 1em;
}
input[type="text"] {
    width: 15em;
    margin-bottom: .5em;
}
input[type="button"] {
    margin-top: 15px;
    margin-bottom: .5em;
}
.mainText{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
span{
    color: lightgrey;
}